html
	head
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
			a.navbar-brand(href='/') Herry Vinh
			if user
				p.mb-0.ml-auto.mr-2.text-light= "Hello " + user.name
				a.text-light(href='/logout') | Logout
		.container.pt-5
			block content