html
	head
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
			a.navbar-brand(href='/') Herry Vinh
			if login
				a.ml-auto.text-light(href='/logout') Logout
		.container.pt-5
			block content