extends ../layouts/common
block content
	h1 User list
	.d-flex.align-items-center
		a.btn.btn-primary(href="/users/create") Create
		form.ml-auto(action="/users/search" method="GET" class="d-flex")
			input(class="form-control" type="text" name = 'q' placeholder="Search users" value=q) 
			button(class="btn btn-primary ml-2") Search
	table.table
		tr
			th Avatar
			th Name
			th Phone
			th Action
		each val in users
			tr
				td.align-middle
					img(src=val.avatar width=32)
				td.align-middle= val.name
				td.align-middle= val.phone
				td.align-middle
					a.btn.btn-light(href="/users/view/"+val.id) View